*{
	margin: 0;
	padding: 0;
	box-sizing : border-box;
}
body{
	background: #0B2434;
	display: flex;
	align-items: center;
  justify-content: center;
}
#root{
	display: flex;
	align-items: center;
  justify-content: center;
	padding: 50px;
	width: 100%;
}
/*Highscore*/
.highscore{
	display: flex;
  justify-content: flex-end;
  width: 90%;
}
/*Local Scoreboard*/
.leaderboard{
	width: 20%;
	height: 80vh;
	min-height: 500px;
	border-radius: 10px;
	background-color: #F5F5F5;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	
}
.score-tile{
	background-color: white;
	width: 80%;
	height: 5vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
/* Main Game Board */
main {
	background-color: #F5F5F5;
	width: 75%;
	min-width: 470px;
	height: 85vh;
	min-height: 660px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.die-container{
	display: grid;
	grid-template-columns: repeat(4, 50px);
	gap: 50px;
	padding: 50px 20px 50px 20px;
	width: 100%;
	justify-content: center;
}
.die-face{
	height: 50px;
	width: 50px;
	box-shadow: 0px 2px 2px rgba(0,0,0, 0.15);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color:  white;
}

.die-num{
	font-size: 2rem;
}

/*Roll button*/
.roll-btn{
	color: white;
	background-color: #5035FF;
	border: none;
	border-radius: 6px;
	width: 150px;
	height: 50px;
	font-size: 1.2rem;
	cursor: pointer;
	margin: 20px;
}
.roll-btn:active{
	box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
	
}
.reset-btn{
	color: white;
	background-color: #ff2e2e;
	border: none;
	border-radius: 6px;
	width: 150px;
	height: 50px;
	font-size: 1.2rem;
	cursor: pointer;
	margin: 20px;
}
.reset-btn:active{
	box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
	
}

.title {
    font-size: 3rem;
    margin: 0;
}

.instructions {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 0;
    text-align: center;
		padding: 20px;
}

/*For smaller windows*/
@media (max-width: 500px){

	main{
		min-width: 400px;
		background-color: #F5F5F5;
	width: 75%;
	height: 80vh;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	}
	.die-container{
	display: grid;
	grid-template-columns: repeat(4, 50px);
	gap: 50px;
	padding: 50px 20px 50px 20px;
	width: 100%;
	justify-content: center;
}
	
}